<!DOCTYPE html>
<html lang="en" ng-app="WebApp">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dependency Store</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/vendor/html5shiv.js"></script>
      <script src="/static/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    <div id="wrap">


      <div class="container">
        <div class="page-header">
          <h1>
            Dependency Store
          </h1>
          <a id="about-button" type="button" href="/about/" class="pull-right btn btn-default btn-xs">
            About
          </a>
        </div>
        <p class="lead">Web interface for quering dependency store, i.e. a collection of dependency relations with assigned frequencies.</p>

        <p>Query syntax:
          <span style="font-family: monospace;margin-left:16px;">
              TERM_1:[POS-TAG_1]:[POSITION_1] [AND TERM_2:[POS-TAG_2]:[POSITION-2_2]] ...
          </span>
        </p>

      </div>

      <div class="container" ng-view>

      </div>

    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">
          2014 &copy; University of Southern California.
          Information Sciences Institute
        </p>
      </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/search.js"></script>

  </body>
</html>